@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

.nav-btns li {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  width: 67.5rem;
  margin: 0 auto;
  line-height: 1.4rem;
}

p,
li {
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  border-bottom: 0.5rem solid #fdbc96;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline solid #d3e2d6 0.5rem;
}

/* Elements
        --------------------------------------------- */
ul {
}

ol {
}

dl {
}

figure {
}

table {
}

/* Links
        --------------------------------------------- */
a {
}

a:visited {
}

a:hover {
}

a:focus {
}

a:active {
}

/*--------------------------------------------------------------
 # Layout
 --------------------------------------------------------------*/

body {
  width: clamp(1rem, 90vw, 120rem);
  margin: 0 auto;
  background-color: #dbcfc3;
}

section {
  background-color: #fcf6e8;
  padding: 0.5rem;
  margin: 3rem 0;
  border: #000 solid 0.125rem;
  box-shadow: 0.625rem 0.625rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header */

.nav-btn button {
  margin: 1rem;
}

.nav-btn {
  margin-top: 2rem;
}
@media (min-width: 50em) {
  .nav-btn button {
    margin: 0;
  }
  .nav-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
}

/* nav button style */

.button-56 {
  align-items: center;
  background-color: #fcf6e8;
  border: 2px solid #111;
  border-radius: 1px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 1px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after,
.nav-btn-active.button-56:after {
  transform: translate(0, 0);
}

.button-56:active,
.nav-btn-active.button-56 {
  outline: 0;
}

.button-56:target {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }

  .button-56:target {
    background-color: #ffdeda;
    outline: 0;
  }
}

/* Main */

/* displays for JS */

.dynamin-viewport-units {
  display: block;
}

.object-view-box {
  display: none;
}

.text-wrap-balance {
  display: none;
}

.initial-letter {
  display: none;
}

/* Object View Box - Gustavo */

.original-img {
  width: 35rem;
}

.crop-img {
  object-view-box: inset(55% 20% 7% 25%);
}

.zoom-img {
  width: 35rem;
  object-view-box: inset(15%);
}

.how-to-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  grid-template-rows: 35rem 3rem;
  height: auto;
}

.code-how-to {
  width: 30rem;
}

.how-to-btn {
  grid-row: 2/3;
}

@media (min-width: 30em) {
  .how-to-wrapper {
    grid-template-rows: 49rem 3rem;
  }
}

@media (min-width: 43.75rem) {
  .how-to-wrapper {
    grid-template-rows: 55rem 3rem;
    height: auto;
  }
}


/* Dynamic Viewport Units Example - Ryan */

.dvh-img {
  width: clamp(20rem, 100%, 30rem);
  display: block;
  margin: 0 auto;
  /* max-width: 30%; */
}

.hero-img {
  background-image: url("../images/dvh-example.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 0%;
  color: #fff;
}

.rel-btn {
  position: absolute;
  bottom: 0%;
}
.rel-btn,
.hero-text {
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#switch-unit {
  position: absolute;
  top: 30%;
}

/* End Dynamic Viewport Units Example */

/* Marc's button style */

/* CSS */
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

/* Marc's example */

.tw-example-img {
  border: #000 solid 0.125rem;
}

#tw-balance-text {
  /* max-width: 87.5rem;
  width: 50rem; */
  margin: 0 auto;
}

.text-balance {
  text-wrap: balance;
}

.example-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}

.grow-text::first-letter {
  initial-letter: 2;
}

/* end of Marc's section */
/* FOOTER ---------- FOOTER */

footer {
  font-size: 1rem;
  text-align: center;
  height: 2rem;
}

footer p {
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}

.educational {
  font-size: 0.8rem;
  padding: 0 0 1rem 0;
}
