/* Object View Box - Gustavo */

.original-img {
  width: 40rem;
}

.crop-img {
  object-view-box: inset(55% 20% 7% 25%);
}

.zoom-img {
  width: 40rem;
  object-view-box: inset(15%);
}



/* Dynamic Viewport Units Example - Ryan */

.hero-img {
background-image: url("/images/dvh-example.jpg");
height: 100vh;
background-position: center;
background-size: cover;
position: relative;
}

.hero-text {
position: absolute;
top: 0%;
color: #fff;
}

button {
position: absolute;
bottom: 0%;
}

button,
.hero-text {
width: fit-content;
left: 0;
right: 0;
margin: 0 auto;
}

/* End Dynamic Viewport Units Example */


