.crop-img {
    object-view-box: inset(25% 20% 15% 0%);
}

.zoom-img {
    object-view-box: 
}/* Dynamic Viewport Units Example - Ryan */

.hero-img {
  background-image: url("/images/dvh-example.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 0%;
  color: #fff;
}

button {
  position: absolute;
  bottom: 0%;
}

button,
.hero-text {
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* End Dynamic Viewport Units Example */
